<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glass</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <!--Top Bar --> 
    <nav class="top-bar" data-topbar role="navigation">
   <ul class="title-area">
    <li class="name">
      <h1 style="font-size:25px"><a href="index.erb">LifeCycle</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
   <li class="toggle-topbar menu-icon"><a href="#"><span>  Menu</span></a></li>
    </ul>
   <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <!-- <li class="active"><a href="#">Right Button Active</a></li> --> 
      <!-- <li class="has-dropdown" style="font-size:25">
        <a href="#">Material</a>
        <ul class="dropdown">
          <li><a href="#">Plastic</a></li>
          <li><a href="#">Cardboard</a></li>
          <li><a href="#">Paper</a></li>
          <li><a href="#">Glass</a></li>
        </ul>
      </li> -->
    </ul>
     <!-- Left Nav Section
     <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
     </ul>-->
    </section>
    </nav>
    <br>
  <!--Logo-->
    <div align="center">
      <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Recycling_symbol.svg/900px-Recycling_symbol.svg.png" style="width:100px;height:100px">
    </div>
    <!--Title Plus Button Group -->
    <div align = "center" style="color:green;font-size:100px">
      LifeCycle
      <!-- Plastic, Cardboard, Paper, Glass -->
    <ul class="button-group">
      <li>
        <form action="/plastic" method="post">
          <input type="hidden" name ="plastic" value ="plastic">
          <input type="submit" value="Plastic" class="button">
        </form>
      </li>
      <li>
        <form action="/cardboard" method="post">
          <input type="hidden" name="cardboard" value="cardboard">
          <input type="submit" value="Cardboard" class="button">
        </form>
      </li>
      <li>
        <form action="/glass" method="post">
          <input type="hidden" name="glass" value="glass">
          <input type="submit" value="Glass" class="button">
        </form>
      </li>
    </ul>
    </div>
    <div align="center">
      <table>
        <tr>
          <td colspan="100"><a href="https://www.pinterest.com/pin/565835140656198811/"><img src ="https://s-media-cache-ak0.pinimg.com/236x/70/b5/8e/70b58e57ce4c2ec846df86c12171866f.jpg"> </td>
          <td colspan="100"><a href="https://www.pinterest.com/pin/171207223304818326/"><img src ="https://s-media-cache-ak0.pinimg.com/236x/cf/22/d5/cf22d53074bcc578490d55226e62b0c9.jpg "></td>
          <td colspan="100"><a href="https://www.pinterest.com/pin/295267319291404532/"><img src ="https://s-media-cache-ak0.pinimg.com/236x/c7/56/f7/c756f731bbadcf89777f8528f3f21011.jpg"></td>
          <td colspan="100"><a href="https://www.pinterest.com/pin/49750770857430772/"><img src ="https://s-media-cache-ak0.pinimg.com/236x/f0/bf/57/f0bf577024a2b4df70e6a15d2d37134f.jpg"></td>
        </tr>
        <tr>
          <td colspan="100"><a href="https://www.pinterest.com/pin/233413193162898317/"><img src ="https://s-media-cache-ak0.pinimg.com/236x/07/02/0c/07020ce61f25385a1f99946f3641e9ca.jpg
"> </td>
          <td colspan="100"><a href="https://www.pinterest.com/pin/415808978070226515/"><img src ="https://s-media-cache-ak0.pinimg.com/236x/da/be/53/dabe53601cfd8fbd882c5024bb0dde2d.jpg
"> </td>
          <td colspan="100"><a href="https://www.pinterest.com/pin/256916353717616417/
"><img src ="https://s-media-cache-ak0.pinimg.com/236x/0f/99/55/0f9955a1f49e258adc629082f0878398.jpg
" style="width:250px;height:350px"> </td>
          <td colspan="100"><a href="https://www.pinterest.com/pin/378232068678564661/
"><img src ="https://s-media-cache-ak0.pinimg.com/236x/6b/b7/04/6bb704b38f0ebd89bd405efe0fd96081.jpg
"> </td>
        </tr>
    </table>
    </div>
    </div>
  </body>
  </html>