<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plastics</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <!--Top Bar --> 
    <nav class="top-bar" data-topbar role="navigation">
   <ul class="title-area">
    <li class="name">
      <h1 style="font-size:25px"><a href="/">LifeCycle</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
   <li class="toggle-topbar menu-icon"><a href="#"><span>  Menu</span></a></li>
    </ul>
   <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <!-- <li class="active"><a href="#">Right Button Active</a></li> --> 
      <!-- <li class="has-dropdown" style="font-size:25">
        <a href="#">Material</a>
        <ul class="dropdown">
          <li><a href="#">Plastic</a></li>
          <li><a href="#">Cardboard</a></li>
          <li><a href="#">Paper</a></li>
          <li><a href="#">Glass</a></li>
        </ul>
      </li> -->
    </ul>
     <!-- Left Nav Section
     <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
     </ul>-->
    </section>
    </nav>
    <br>
  <!--Logo-->
    <div align="center">
      <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Recycling_symbol.svg/900px-Recycling_symbol.svg.png" style="width:100px;height:100px">
    </div>
    <!--Title Plus Button Group -->
    <div align = "center" style="color:green;font-size:100px">
      LifeCycle
      <!-- Plastic, Cardboard, Paper, Glass -->
    <ul class="button-group">
      <li>
        <form action="/plastic" method="post">
          <input type="hidden" name ="plastic" value ="plastic">
          <input type="submit" value="Plastic" class="button">
        </form>
      </li>
      <li>
        <form action="/cardboard" method="post">
          <input type="hidden" name="cardboard" value="cardboard">
          <input type="submit" value="Cardboard" class="button">
        </form>
      </li>
      <li>
        <form action="/glass" method="post">
          <input type="hidden" name="glass" value="glass">
          <input type="submit" value="Glass" class="button">
        </form>
      </li>
    </ul>
    </div>
      <div align="center">
      <table>
        <tr>
          <td colspan="100"><a href="https://www.pinterest.com/pin/562316703448007526/"><img src ="https://s-media-cache-ak0.pinimg.com/236x/63/b5/f1/63b5f101aa5bc478d26c29ce1b5360fc.jpg
"> </td>
          <td colspan="100"><a href="https://www.pinterest.com/pin/209276713910229342/"><img src ="https://s-media-cache-ak0.pinimg.com/236x/b9/d6/83/b9d6839ea8a437440dddf1c35e0f5785.jpg
" style="width:250px;height:300px"></td>
          <td colspan="100"><a href="https://www.pinterest.com/pin/254594185159632218/"><img src ="https://s-media-cache-ak0.pinimg.com/236x/ec/17/70/ec1770efb913efce976430cc204064ab.jpg
"></td>
          <td colspan="100"><a href="https://www.pinterest.com/pin/130322982937214261/"><img src ="https://s-media-cache-ak0.pinimg.com/236x/a6/88/54/a6885407db2dcd3f1e7f760ab47b6105.jpg

"></td>
        </tr>
        <tr>
          <td colspan="100"><a href="https://www.pinterest.com/pin/456763587179197273/"><img src ="https://s-media-cache-ak0.pinimg.com/236x/4c/c1/dd/4cc1dd775e7d6baa116de58c2fc1943c.jpg

"> </td>
          <td colspan="100"><a href="https://www.pinterest.com/pin/515240013593700762/"><img src ="https://s-media-cache-ak0.pinimg.com/236x/39/e5/3d/39e53d8cadd6af9a7dcbcb7895243b54.jpg

" style="width:250px;height:350px"> </td>
          <td colspan="100"><a href="https://www.pinterest.com/pin/451556300112727644/
"><img src="https://s-media-cache-ak0.pinimg.com/236x/9a/d6/f3/9ad6f3dd90bdbfc2efd19921d938b1f5.jpg" style="width:250px;height:350px"> </td>
          <td colspan="100"><a href="https://www.pinterest.com/pin/151503974938161373/
"><img src ="https://s-media-cache-ak0.pinimg.com/236x/71/3c/66/713c66397bac769507c9786e2ec0eef9.jpg

"> </td>
        </tr>
    </table>
    </div>
    </body>
</html>